<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>嘉福平台</title>
<link rel="stylesheet" href="../../css/jf_homepage.css">
</head>
<body>

<!--顶部导航-->
<%- include('../../component/homepage/nav.ejs')%>

<!--banner-->
<%- include('../../component/homepage/banner.ejs')%>

<!--服务-->
<%- include('../../component/homepage/service.ejs')%>


<!--专项抢购-->
<%- include('../../component/homepage/special_sale.ejs')%>

<!--京东秒杀-->
<%- include('../../component/homepage/seckill.ejs')%>


<!--产品列表-->
<%- include('../../component/homepage/product.ejs')%>


<!--固定底部-->
<%-include('../../component/homepage/bottomNav.ejs')%>


<script src="../../js/jf_homepage.js"></script>
</body>
</html>
