<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>嘉福平台</title>
<link rel="stylesheet" href="../../css/jf_homepage.css">
</head>
<body>

<div class="living_payment_block">

    <div class="living_payment_popup">
        <img src="../../images/homepage/living_payment_h5.png">

        <div class="ikonw_button">
            <button class="h5_button">我知道了</button>
        </div>
    </div>

</div>

<!--顶部导航-->
<%- include('../../component/homepage/nav.ejs')%>

<!--banner-->
<%- include('../../component/homepage/banner.ejs')%>

<!--服务-->
<%- include('../../component/homepage/service.ejs')%>


<!--专项抢购-->
<%- include('../../component/homepage/special_sale.ejs')%>

<!--京东秒杀-->
<%- include('../../component/homepage/seckill.ejs')%>


<!--产品列表-->
<%- include('../../component/homepage/product.ejs')%>


<!--固定底部-->
<%-include('../../component/homepage/bottomNav.ejs')%>


<script src="../../js/jf_homepage.js"></script>
</body>
</html>
