<!DOCTYPE html>
<html>
<head>
    <title>收银台</title>
    <link rel="stylesheet"  href="../../css/jf_pay.css">
</head>

<body>

<div class="jf_pay_page">
    <!--收银台-->
    <div class="section_container section_show" data-href="0">

        <!--支付方式选择-->
        <div class="zhuangyi_pay_shoppingcart container_main">

            <%- include('../../component/pay/payStepone/payTips.ejs',{
            "payTitle":"商品信息"
            })%>
            <%- include('../../component/pay/payStepone/payinfo.ejs')%>

            <%- include('../../component/pay/payStepone/payPrice.ejs')%>

                <div class="Special-List list_0719">
                    <div>支付方式</div>
                </div>
                <!--支付方式-->
                <%- include('../../component/pay/payStepone/payStyleChoose.ejs')%>
        </div>

        <%- include('../../component/pay/payStepone/bottom_btn.ejs')%>

    </div>


    <!--优惠券-->
    <div class="section_container " data-href="1">

        <%- include('../../component/pay/payStepone/coupons.ejs')%>
    </div>


    <!--短信验证-->
    <div class="section_container" data-href="2">

        <div class="zhuangyi_pay_shoppingcart" id="smsVerification">

            <div class="pay_mail">
                <%- include('../../component/pay/messageCheck/messageTips.ejs')%>
                <%- include('../../component/pay/messageCheck/nextBtn.ejs')%>
            </div>

        </div>

    </div>
</div>










</body>
<script src="../../js/jf_pay.js"></script>
<script>

    document.getElementsByClassName('pay_bottom_btn')[0].addEventListener('click',function () {

        document.getElementsByClassName('section_container')[2].style.display='block';//短信页验证显示

        sendMessage(); //出现短信验证

        document.getElementsByClassName('payCodeInput')[0].focus();//获取焦点

    },false)


    pageChange.init();//单页切换

</script>


</html>